<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
				<binding name="binding" receiveTimeout="00:20:00" sendTimeout="00:20:00">
					<mtomMessageEncoding messageVersion="Soap11WSAddressing10" maxBufferSize="2147483647" />          
					<httpsTransport maxReceivedMessageSize="2147483647" authenticationScheme="Basic" />        
				</binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://my353521.sapbydesign.com/sap/bc/srt/scs/sap/querysupplierin1?sap-vhost=my353521.sapbydesign.com"
                binding="customBinding" bindingConfiguration="binding" contract="ConsultarCliente.QuerySupplierIn"
                name="binding" />
        </client>
    </system.serviceModel>
</configuration>





